<div class="shitty-login">
  <h4>Login</h4>

  <p id='notice'><%= notice %></p>

  <% if @user && @user.errors.any? %>
  <div id='error_explanation'>
    <p>Username and Password combination not found.</p>
  </div>
  <% end %>

  <%= form_for :session do |f| %>
    <%= f.text_field :username, placeholder: 'username' %><br>
    <%= f.password_field :password, placeholder: 'passwerrrd' %><br>
    <%= f.submit 'login' %>
  <% end %>

  <br />
  <h4>Create Account</h4>
  <form action="/users" method="post">
    <p><label>username: <input type="text" name="username" /></label></p>
    <p><label>password: <input type="password" name="password" /></label></p>
    <p><input class='shitty-button' type="submit" value="create account" /></p>
  </form>
</div>
<script>
  $('#header').hide();
</script>
