<div class="container">
  <h1>All <%= @user.username if @user %> Posts</h1>
  <ol>
    <% @posts.each do |post| %>
      <li>
        <span class='post-title'><%= link_to post.description, post %></span> <span class='post-info'><%= link_to "(#{post.url})", post %></span>
        <br />
        <span class='post-info'>by <%= link_to post.user.username, post.user %> | <%= link_to "#{post.comments.length} comments", post %></span>
      </li>
    <% end %>
  </ol>
</div>
