<div class="container">
  <h1>All Posts</h1>
  <ol>
  <% @posts.each do |post| %>
    <li>
      <span class='post-title'><a href="http://<%= post.url %>"><%= post.description %><span> <span class='post-info'>(<%= post.url %>)</span></a><br />
      <span class='post-info'>
        by <a href="/users/<%= post.user.id %>"><%= post.user.username %></a> | <a href="/posts/<%= post.id %>"><%= post.comments.length %> comments</a>
      </span>
    </li>
  <% end %>
</ol>
</div>
